
.toggleButton{
    height: 60px;
    border: none;
    background: none;
    padding-right: 18px;
    padding-left: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.toggleButton:hover{
   background-color: rgba(0,0,0,0.05);
}