.chat{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.topBar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.backButton{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    flex: 1;
}

.messageInfo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
}

.messageList{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    background-color: rgba(0,0,0,0.1);
    overflow-y: scroll;
    padding-bottom: 20px;
    margin: 0;
}

.messageInputBar{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 12px 12px;
    align-items: center;
}

.messageInput{
flex: 1;
padding: 0px 16px;
height: 40px;
line-height: 40px;
outline: none;
font-size: 16px;
border-radius: 20px;
border: 1px solid rgba(0,0,0,0.2)
}

.messageInputButton{
    height: 40px;
    padding:0 12px;
    border-radius: 20px;
    margin-left: 12px;
    border: none;
    background-color: rgba(0,0,0,0.2);
}

.messageInputButton[aria-disabled=true]{
    opacity: 0.4;
    pointer-events: none;
}