.main{
    --padding: 20px;
    width: min(400px, calc(100vw - var(--padding)));
    margin: 0 auto;
    padding: 22px 0 0;
}

.title{
    font-size: 22px;
    text-align: center;
}

.notice{
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 2px 16px;
    margin: 30px 0 30px 0;
    text-align: justify;
}

.notice ol{
    padding-left: 16px;
}

.inputContainer{
    position: relative;
    border-radius: 20px;
    border: 1px solid grey;
    display: block;
    outline: none;
    margin: 0 auto;
    overflow: hidden;
    width: 200px;
}

.inputContainer::before{
    display: block;
    content: "@";
    color: rgba(0,0,0,0.4);
    position: absolute;
    left:0;
    top: 0;
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
}


.input{
    padding: 10px 16px 10px 28px;
    line-height: 20px;
    font-size: 16px;
    display: block;
    outline: none;
    border: none;
}
.button{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    border: none;
    margin: 20px auto;
    text-decoration: none;
    color: black;
    background-color: rgba(0,0,0,0.2);
}

.button:hover{
    background-color: rgba(0,0,0,0.3);
}

.button[aria-disabled=true]{
    opacity: 0.4;
    pointer-events: none;
}